/* General Styles */

* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}


a, a:visited {
  text-decoration: none;
  cursor: pointer !important;
}


/* Header */

header {
  width: 100%;
  height: 100px;
  background: #ffffff;
  text-align: center;

}

.logo {
  padding-top: 25px;
}





/* Content */

.top{
    width: 940px;
  background: #ffffff;
  margin: 20px auto;



}
.tab-wrapper{
  margin: 120px 200px 30px 200px;
      border-top: #9d8235 1px solid;
      padding-top: 40px;



}

.tab{
   width: 100px;
   color: black;
font-family: Georgia;
font-variant: bold;
  float: left;
  margin-right: 8px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

}

.home{
color:#90883b;
}

.center{
  text-align: center;
}
.cheader {
 text-align: center;
 font-family: Georgia;
 font-style: italic;
 font-size: 28px;
 color: #9d8235;
 height: 70px;

}

.cpic {
  margin-right: 20px;
}

.spic {
  margin-left: 20px;
}
.bottom {
  width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
  height: 1075px;

}

.coffee {

  text-align: center;
  line-height: 50px;
  float: left;

  border-right: 1px solid rgba(0,0,0,.25);

}
.sand {


  text-align: center;
  line-height: 50px;
  float: left;

}
.row1 {

  list-style-type: none;
  text-align: center;
  line-height: 50px;
  float: left;
;
}
.row2 {

  list-style-type: none;
  text-align: center;
  line-height: 50px;
  float-left: 200px;

}
.price {
  font-family: Georgia;
  font-style: italic;
  color: #222222;

}
.item {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: bold;
  color: #222222;
}

.end {
 clear: both;
  background-color: #f0f0f0;
  border-top: #9d8235 1px solid;
  text-align: center;
}